body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
h1{
    font-size: 50px;
}
.container{
    display: flex;
    margin-bottom: 130px;
}
.name{
    color: orange;
}
.link-btn{
    padding: 10px 40px;
    text-decoration: none;
    text-transform: uppercase;
    background-image: linear-gradient(45deg, lightsalmon, tomato);
    color: white;
    border-radius: 5px;
    font-weight: 700;
}
.helf-width{
    width: 50%;
    padding-left: 5%;
}
.helf-width img{
    width: 90%;
}
#top-section{
    background-image: url(img/top-banner.png);
    background-repeat: no-repeat;
}
.drem-big{
    width: 500px;
}
#dream-big{
    background-image: url(img/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.exprince_item{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 8px;
    border-radius: 5px;
    box-shadow: 15px 15px 40px gray;
}
#font-end{
    border-left: 10px solid;
    border-image: linear-gradient(180deg, blue, cyan);
    border-image-slice: 1;
}
#pro{
    border-left: 10px solid;
    border-image: linear-gradient(180deg,#062758, #ff6528 );
    border-image-slice: 1;
}
#exprince{
    background-image: url(img/exp-bg.png);
    background-repeat: no-repeat;
}
footer p{
    text-align: center;
}